<!--BEGIN custom-header -->
  <div id="custom-header" class="site-background" data-image="camera.jpg" data-opacity="0.50" data-color="181a25">
    <!-- BEGIN #taglne -->
    <div id="tagline" class="site-tagline row">
      <h1>
        {{ title }}
      </h1>
      <h2>
        {{ subtitle }}
      </h2>
    </div>
    <!-- END /#tagline -->
  </div>
<!-- END /#custom-header -->
