<!doctype html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Giancarlo Ventura" />
    <meta name="date" content="31/01/2016"/>
    <meta name="generator" content="easybook 4.9.0"/>
    <title>Cronología | Maytok</title>
    <link rel="stylesheet" href="/css/easybook.min.css" />
</head>

<body class="item chapter">
<div class="container">
<div class="menu">
    <div class="row">
        <h1 class="span9"><a href="./index.html">Maytok</a></h1>
        <p class="span3">
            <a href="./index.html"><span>&larr;</span> Anterior</a>
            <a href="./capitulo-2.html">Siguiente <span>&rarr;</span></a>
        </p>
    </div>
</div>

<div class="row">
    <div class="span9">
        <h1 id="cronologia"><span>Capítulo 1</span> Cronología</h1>
        <ul>
<li><strong>13,7 miles de millones de años:</strong></li>
</ul>

<p>El universo se expande.</p>

<ul>
<li><strong>9.000 (¿?) millones de años:</strong></li>
</ul>

<p>El registro más antiguo de la existencia de los primordiales.</p>

<ul>
<li><strong>5.000 millones de años:</strong></li>
</ul>

<p>Kundun emerge a través de la Brecha. Comienza a aniquilar estrellas. Se enciende la guerra por la energía del Universo.Kundun</p>

<ul>
<li><strong>4.500 millones de años:</strong></li>
</ul>

<p>Termina la guerra con Kundum, al recluirlo en otra dimensión temporal. 
Encuentran a EVA en una cápsula a la deriva en el espacio. 
Los Primordiales originan el sol y planean tener allí a EVA como base de pruebas.</p>

<ul>
<li><strong>4470 millones de años:</strong></li>
</ul>

<p>La Tierra comienza a formarse. Comienza la historia conocida de la Humanidad.</p>

<ul>
<li><strong>Indeterminado:</strong></li>
</ul>

<p>Los Primordiales comienzan a clonar a EVA. Utilizan a esta como motor computacional para los saltos hiperespaciales. 
Colonizan a la Tierra con los especímenes de prueba.</p>

<ul>
<li><strong>56 millones de años:</strong></li>
</ul>

<p>Los Primordiales construyen a Valonde. Comienzo de la población original y experimentación con especímenes de la Tierra</p>

<ul>
<li><strong>55 millones de años:</strong></li>
</ul>

<p>La rebelión. Eva adquiere conciencia propia y comienza una batalla de liberación en la Tierra contra los “Primordiales opresores”. 
En el furor de la batalla, se fusiona con una de las manzanas y activa el portal a la dimensión del olvido. 
Para conjurar el mal, EVA es desintegrada en diversos contenedores. Es el regreso de Kundum. 
Los Primordiales cercan por entero el Sistema Solar, todas las fuerzas se retiran de la galaxia y 
migran hacia la Tierra para conjurar la amenaza. El portal es cerrado antes del completo ingreso de Kundum, 
solo una parte de su conciencia es regresada a la Tierra. Está recluido en Kalima, donde espera una oportunidad para salir. 
Mientras, los Primordiales comienzan la batalla para desinfectar el sistema solar, 
pues con la venida de Kundum se expandieron los mobs por todo el mismo. 
Comienza el periodo de Etramu. 
Se enciende la batalla en la Tierra contra los mobs. 
Kundum elige un humano al azar (o no) y lo modifica genéticamente para llevar consigo la sangre de todos los 
mobs y la suya propia. El Hijo de Kundum atraviesa la barrera de protección: 
Lorencia es reducida a cenizas. Cuando intenta atravesar Noria, es detenido por un aspecto de EVA. 
El Hijo de Kundum se transforma en el Uno, que peregrina por el desierto de Tarkan. 
Después de 13 años, regresa y lidera un asalto contra las fuerzas innumerables de Kundum. 
En la batalla final, ambos son aprisionados en la dimensión del olvido, donde batallarán hasta el 
fin de los tiempos. El planeta Tierra se parte en pedazos, creando la estructura actual de los continentes 
y la hibernación de la raza humana. Después de millones de años, los Segundos Hijos despiertan y accionan 
el despertar de la raza Humana.</p>

<ul>
<li><strong>Comienza la edad del hombre</strong></li>
</ul>

<p>Se registra la historia común de la humanidad.</p>

<ul>
<li><strong>75 000 a.C. El despertar de los Dioses.</strong></li>
</ul>

<p>Los primeros Dioses despiertan sobre la Tierra y la encuentran sumida en el Caos.
Obtienen las manzanas y comienzan a dirigir el curso de la historia humana.
Sin embargo, al poco tiempo, Venus, una de las integrantes, encontró una nueva “verdad” en una de las manzanas y se rebeló, 
asesinando a Perséfone, una de las miembros del panteón. Fue el primer crimen entre los dioses y el primero que hizo rebajar 
su nivel a un parecido entre humanos. Venus desprecia a los humanos y considera que los Segundos Hijos deberían ser 
quienes poblasen la Tierra. ha formado un grupo que se hace llamar los Lycarium, que busca con afán obtener sus fines, 
la sirve con devoción y busca el Segundo Regreso de Kundum. Desde entonces, Venus ha estado alterando decisivamente cada historia humana, 
buscando hacerse con los cuerpos de todos los dioses y obtener el poder que hará regresar a Kundum.</p>

<ul>
<li><strong>0 d.R. (Año cero después del reinicio):</strong></li>
</ul>

<p>Ocurre el Reinicio, el evento que trae a la Humanidad al borde de la destrucción. 
Un evento hasta ahora desconocido trae abajo la estructura social de los humanos en el planeta Tierra. 
Tan solo 20 000 personas logran sobrevivir. 
Los que quedan deben buscar diversas maneras de sobrevivir en el entorno hostil del planeta. 
Comienza el acoso de los Necromorfos, formas de vida que mutaron tras el contacto con un virus.</p>

<ul>
<li><strong>500 d.R.</strong></li>
</ul>

<p>Amanda del Río descubre el elemento Zero y comienza un largo peregrinaje para llevarlo a NeoParis, 
la que se dice es la última ciudad sobre la Tierra.</p>

<ul>
<li><strong>508 d.R.</strong> </li>
</ul>

<p>Amanda llega a NeoParis. La ciudad está asentada sobre el Sena, 
reconstruida sobre las ruinas París. Es una ciudad Steampunk, 
donde el mar se ha adentrado y se obtiene energía producto del aceite de ballenas. 
Una vez allí, comienza otra aventura, donde tiene que entregar el elemento Zero a la persona correcta. 
El elemento Zero es recibido por el doctor Fellaini y es usado para producir el primer
motor de energía totalmente limpia del mundo, aunque no renovable. NeoParis vive el segundo renacimiento, 
bajo el impulso del elemento Zero. Comienzan las exploraciones para descubrir el elemento Zero y 
con ella se descubre que no estamos solos en el Universo. Bajo tierra, se comienzan a descubrir 
restos de antiguas naves que salen para contar de antiguos visitantes que recibió, muchos años atrás, 
el planeta Tierra. Mientras tanto, Venus llega a NeoParis y comienza una lucha soterrada contra los 
ideales del estado perfecto ideado por Júpiter. Lentamente causa agitación y descontento en la ciudad.</p>

<ul>
<li><strong>509 d.R.</strong></li>
</ul>

<p>Se descubre la Nave Madre, una gigantesca instalación rica en elemento Zero impuro. 
Sin embargo, es imposible extraerlo del todo, porque la tecnología usada deja de funcionar 
en las inmediaciones. Ícaro y Perseo fueron encontrados allí y mantenidos en suspensión.</p>

<p>Instigada por Venus, ocurre una rebelión dentro de NeoParis, contra las estructuras imperantes. 
La rebelión triunfa. Los dirigentes principales son desterrados. 
Los del bando perdedor son trasladados fuera del recinto de NeoParis y obligados 
a trabajar en la extracción del elemento Zero, que provoca “baja calidad de vida” a quienes lo realizan. 
Todos los registros de la guerra procuran ser borrados y la población se ve confinada a 
un confinamiento temporal.</p>

    </div>

    <div class="span3">
        <div class="item local_toc">
            <h3>Índice de contenidos</h3>

            <ul class="unstyled">
                                                <li class="level-1">
                        <span></span>
                        <a class="internal" href="./capitulo-1.html#cronologia">Cronología</a>
                    </li>
                                        </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>