<!doctype html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Giancarlo Ventura" />
    <meta name="date" content="31/01/2016"/>
    <meta name="generator" content="easybook 4.9.0"/>

    <title>NeoParis | Maytok</title>

    <link rel="stylesheet" href="/css/easybook.min.css" />

</head>

<body class="item chapter">
<div class="container">
<div class="menu">
    <div class="row">
        <h1 class="span9"><a href="./index.html">Maytok</a></h1>
        <p class="span3">
                        <a href="./capitulo-1.html"><span>&larr;</span> Anterior</a>
            
                        <a class="disabled" href="#">Siguiente <span>&rarr;</span></a>
                    </p>
    </div>
</div>

<div class="row">
    <div class="span9">
        <h1 id="neoparis"><span>Capítulo 2</span> NeoParis</h1>
        <p>Conocida como el último bastión de la civilización humana, NeoParis es una ciudad erigida sobre las ruinas de la antigua 
ciudad europea de París, de donde toma el nombre.</p>

<h2 id="historia">2.1 Historia</h2>

<p>Durante la catástrofe del reinicio, la ciudad de París fue impactada por decenas de bombas trémora, destinadas 
a frenar a los infectados. La ciudad quedó en ruinas e inhabitable, solo 
con algunos Necromorfos dispersos por el lugar.</p>

<p>Después de cientos de años, la ubicación de la antigua ciudad era visitada ocasionalmente 
por grupos nómadas. Con los años, se descubrió que era un punto estratégico en las 
rutas migratorias de las ballenas, entonces comenzó la repoblación. Pronto, se formó una 
aldea que se convirtió en poblado y esta en ciudad, que comenzó a extenderse hacia abajo, hacia las antiguas catacumbas que las bombas 
dejaron intactas. La ciudad basó su resurgir en el aceite de ballena, materia prima indispensable de donde se 
obtenía energía.</p>

<h3 id="la-llegada-de-amanda-del-rio">2.1.1 La llegada de Amanda del Río</h3>

<p>En el mes de [mes], Amanda del Río llega a NeoParis portando la primera muestra conocida del elemento Zero. 
Pronto, las muestra es entregada al Protector de la ciudad, que comienza a experimentar y obtener una nueva 
forma de energía limpia, aunque no renovable, la más eficiente en toda la historia de la humanidad.</p>

<h3 id="la-rebelion">2.1.2 La rebelión</h3>

<p>Venus, que había estado persiguiendo a Amanda todo el camino, logra, poco a poco, conseguir adeptos para su causa. 
Su grupo, los Lycarium, sabotean lentamente la estructura del gobierno imperante. Al final, una rebelión 
que se transforma en guerra civil azota la ciudad como una tormenta: Las calles se tiñen de sangre. 
La lucha es feroz, pero Venus acaba imponiéndose: Júpiter y todos sus pertidarios son desterrados a las afueras de 
la ciudad, a la recién descubierta Nave Madre.</p>

    </div>

    <div class="span3">
        <div class="item local_toc">
            <h3>Índice de contenidos</h3>

            <ul class="unstyled">
                                                <li class="level-1">
                        <span></span>
                        <a class="internal" href="./capitulo-2.html#neoparis">NeoParis</a>
                    </li>
                                    <li class="level-2">
                        <span>2.1</span>
                        <a class="internal" href="./capitulo-2.html#historia">Historia</a>
                    </li>
                                        </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>