{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" style="margin:20px 10px 10px 10px; background: #18191b; color: white;">
    <p style="font:sans-serif; font-size:24px; color: white"><strong>{{ 'profile.show.username'|trans }}: {{ user.username }}</strong></p>
    <p style="font:sans-serif; font-size:24px; color: white;"><strong>{{ 'profile.show.email'|trans }}: {{ user.email }}</strong></p>
</div>
