<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Créditos ;)</title>
	<style>
		@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
		* {
		  margin: 0;
		  padding: 0;
		  box-sizing: border-box;
		}

		html, body {
		  height: 100%;
		}

		body {
		  background: radial-gradient(ellipse at top left, #334455 0%, #112233 100%);
		  overflow: hidden;
		}

		.wrapper {
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  width: 400px;
		  margin-left: -200px;
		  font: 300 30px/1 'Open Sans Condensed', sans-serif;
		  text-align: center;
		  text-transform: uppercase;
		  color: #fff;
		  animation: 60s credits linear infinite;
		}

		.wrapper{
		  position: absolute;
		  top: 100%;
		  left: 50%;
		  width: 400px;
		  margin-left: -200px;
		  font: 300 30px/1 'Open Sans Condensed', sans-serif;
		  text-align: center;
		  text-transform: uppercase;
		  color: #fff;
		  animation: 60s credits linear infinite;
		}

		.movie {
		  margin-bottom: 50px;
		  font-size: 50px;
		}

		a{
			font: 300 30px/1 'Open Sans Condensed', sans-serif;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			text-decoration: none;
		}

		.job a{
		  margin-bottom: 5px;		  
		  font-size: 18px;
		  
		}

		.name a{
		  margin-bottom: 50px;		  
		  font-size: 35px;
		}

		@keyframes credits {
		  0% {
		    top: 100%;
		  }

		  100% {
		    top: -500%;
		  }
		}
	</style>
</head>
<body>
	<div class='wrapper'>
	  <div class='movie'>Home page header</div>
	  <div class='job'><a href="http://aarontyree.deviantart.com/art/Feliz-Ano-Novo-346014776">Feliz Ano Novo by</a></div>
	  <div class='name'><a href="http://aarontyree.deviantart.com/">aarontyree</a></div>

	  <div class='movie'>Contacto page header</div>
	  <div class='job'><a href="http://tsabo6.deviantart.com/art/Inca-s-Apartment-460532235">Inca's Apartment by</a></div>
	  <div class='name'><a href="http://tsabo6.deviantart.com/">Tsabo6</a></div>

	  <div class='movie'>This code</div>
	  <div class='job'><a href="http://codepen.io/mkrtchyan/pen/Lqfkv">Movie credits by</a></div>
	  <div class='name'><a href="http://codepen.io/mkrtchyan">Mkrtchyan</a></div>
	</div>
</body>
</html>
